<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65620864338-ol0mo1391a4ovqr127rj4s365q870u8i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65620864338-ol0mo1391a4ovqr127rj4s365q870u8i</string>
	<key>API_KEY</key>
	<string>AIzaSyBKFENTov9Y1H3iCDAQ0Pin6mQ9k5dIoAM</string>
	<key>GCM_SENDER_ID</key>
	<string>65620864338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>advpro.apEcomApp</string>
	<key>PROJECT_ID</key>
	<string>advancedprogramming-e94cf</string>
	<key>STORAGE_BUCKET</key>
	<string>advancedprogramming-e94cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65620864338:ios:29b14be4c8a47ee43ede8b</string>
	<key>DATABASE_URL</key>
	<string>https://advancedprogramming-e94cf.firebaseio.com</string>
</dict>
</plist>